{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">

                <!-- statistic start -->
                <div class="col-md-12 col-lg-4">
                    <div class="card seo-card overflow-hidden">
                        <div class="card-body seo-statustic">
                            <i class="feather icon-cpu f-20 text-c-red"></i>
                            <h5 class="mb-1">65%</h5>
                            <p>CPU</p>
                        </div>
                        <div class="seo-chart">
                            <div id="seo-card1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="card seo-card overflow-hidden">
                        <div class="card-body seo-statustic">
                            <i class="feather icon-server f-20 text-c-red"></i>
                            <h5 class="mb-1">5%</h5>
                            <p>Memory </p>
                        </div>
                        <div class="seo-chart">
                            <div id="seo-card2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="card seo-card overflow-hidden">
                        <div class="card-body seo-statustic">
                            <i class="feather icon-save f-20 text-c-red"></i>
                            <h5 class="mb-1">15%</h5>
                            <p>Simulations cache</p>
                        </div>
                        <div class="seo-chart">
                            <div id="seo-card3"></div>
                        </div>
                    </div>
                </div>
                <!-- statistic end -->


            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>

    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard.js"></script>

{% endblock javascripts %}
