{% extends "layouts/base.html" %}

{% block title %} System Monitors {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">

                <!-- statistic start -->
                <div class="col-md-12 col-lg-4">
                    <div class="card seo-card overflow-hidden">
                        <div class="card-body seo-statistic">
                            <i class="feather icon-cpu f-20 text-c-red"></i>
                            <h5 class="mb-1" id="cpu-current"></h5>
                            <p id="cpu-label"></p>
                        </div>
                        <div class="seo-chart">
                            <div id="cpu-card"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="card seo-card overflow-hidden">
                        <div class="card-body seo-statistic">
                            <i class="feather icon-server f-20 text-success"></i>
                            <h5 class="mb-1" id="vmem-current"></h5>
                            <p id="vmem-label"></p>
                        </div>
                        <div class="seo-chart">
                            <div id="vmem-card"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="card seo-card overflow-hidden">
                        <div class="card-body seo-statistic">
                            <i class="feather icon-save f-20 text-c-blue"></i>
                            <h5 class="mb-1" id="du-current"></h5>
                            <p id="du-label"></p>
                        </div>
                        <div class="seo-chart">
                            <div id="du-card"></div>
                        </div>
                    </div>
                </div>

                <!-- statistic end -->


            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
    var API_CPU = {{ url_for("api_blueprint.monitors_default_cpu") | tojson }};
    var API_VMEM = {{ url_for("api_blueprint.monitors_default_vmem") | tojson }};
    var API_DISK = {{ url_for("api_blueprint.monitors_default_du") | tojson }};
    {% if current_user.is_authenticated %}
    var APIKEY = {{ current_user.apikey | tojson }};
    {%  else %}
    var APIKEY = "";
    {%  endif %}
    </script>

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>

    <!-- custom-chart js -->
    <script src="/static/assets/js/monitors.js"></script>



{% endblock javascripts %}
