{% extends "layouts/base.html" %}

{% block title %} Simulations page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    .progress {
      background-color: #aef;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
{#			<div class="page-header">#}
{#				<div class="page-block">#}
{#					<div class="row align-items-center">#}
{#						<div class="col-md-12">#}
{#							<div class="page-header-title">#}
{#								<h5 class="m-b-10">Simulations Page</h5>#}
{#							</div>#}
{#							<ul class="breadcrumb">#}
{#								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>#}
{#								<li class="breadcrumb-item"><a href="#">Simulations</a></li>#}
{#								<li class="breadcrumb-item"><a href="#">Launcher</a></li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
			<!-- [ breadcrumb ] end -->

			<!-- [ Main Content ] start -->
            <div class="row">
				<!-- [ Create a new simulation-page ] start -->
                <div class="col-md-12 col-xl-6">
                    <div class="card">
                        <div class="card-header"> <h5>Create a new simulation</h5> </div>
                        <div class="card-body" style="min-height: 245px;">
                            <form method="post" action="" id="launch_form">
                                {{ form.hidden_tag() }}
                                <div class="input-group mb-4">
                                    <span class="input-group-text"><i class="feather icon-type"></i></span>
                                    {{ form.label(placeholder="Simulation Label", class="form-control") }}
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-text"><i class="feather icon-life-buoy"></i>&ensp;Number of virtual floats</span>
                                    <span class="form-control" id="nfloats_value"></span>
                                    {{ form.nb_floats(class="form-range", min="100", max="4000", step="10") }}
                                </div>
                                <button type="submit" name="launch" class="btn btn-block btn-primary mt-2 mb-4">Launch !</button>
                                <button type="reset" name="reset" class="btn btn-block btn-danger mt-2 mb-4">Reset</button>
                                {{ error }}
                            </form>
                        </div>
                    </div>
                </div>
				<!-- [ Create a new simulation-page ] end -->

				<!-- [ simulations counters ] start -->
                <div class="col-md-12 col-xl-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body bg-patern">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span>Simulations</span>
                                        </div>
                                        <div class="col text-end">
                                            <h2 class="mb-0" id="tasks_count_total"></h2>
                                            <span class="text-primary" id="tasks_count_total_head"></span>
                                        </div>
                                    </div>
                                    <div id="customer-chart1"></div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <h4 class="m-0 text-success" id="tasks_count_success"></h4>
                                            <span class="ms-3 text-success">Success</span>
                                        </div>
                                        <div class="col">
                                            <h4 class="m-0 text-danger" id="tasks_count_failed"></h4>
                                            <span class="ms-3 text-danger">Fails</span>
                                        </div>
                                        <div class="col">
                                            <h4 class="m-0 text-c-yellow" id="tasks_count_cancelled"></h4>
                                            <span class="ms-3 text-c-yellow">Cancelled</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card bg-behance text-white">
{#                            <div class="card bg-primary text-white">#}
                                <div class="card-body bg-patern-white">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span>Quota</span>
                                        </div>
                                        <div class="col text-end">
                                            <h2 class="mb-0 text-white" id="quota_count_left_head"></h2>
                                            <span class="text-white" id="quota_count_total_head"><i class="feather icon-sliders ms-1"></i></span>
                                        </div>
                                    </div>
                                    <div id="customer-chart2"></div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <h4 class="m-0 text-white" id="quota_count_left"><i class="fas fa-circle f-10 m-r-5 text-success"></i></h4>
                                            <span class="ms-3">Remaining</span>
                                        </div>
                                        <div class="col">
                                            <h4 class="m-0 text-black" id="quota_count_done"><i class="fas fa-circle f-10 m-r-5 text-black"></i></h4>
                                            <span class="ms-3 text-black">Consumed</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<!-- [ simulations counters ] end -->

                <!-- [ List of user simulations-page ] start -->
				<div class="col-md-12">
					<div class="card table-card">
						<div class="card-header">
							<h5>Your simulations</h5>
						</div>
						<div class="card-body">
                            <div class="table-responsive">
                                <div class="customer-scroll" style="height:562px;position:relative;">
                                    <table class="table table-hover m-b-0" id="tasks_table">
                                        <thead>
                                            <tr>
                                                <th><span>Tasks ID</span></th>
                                                <th><span>User</span></th>
                                                <th><span>Status</span></th>
                                                <th><span>Number of floats</span></th>
                                                <th><span>Label</span></th>
                                                <th><span>Actions</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ List of user simulations-page ] end -->

            </div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{#    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>#}
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/simulations-launcher.js"></script>

    <script>
    var API1 = {{ url_for("api_blueprint.tasks_task_list") | tojson }};
    var API2 = {{ url_for("api_blueprint.users_user_2") | tojson }};
    var APIKEY = {{ current_user.apikey | tojson }};

    var RefreshTasksList = window.setInterval(function(){
        list_tasks(API1);
        //fill_in_tasks_card(API2, donut1);
        //fill_in_quota_card(API2, donut2);
        fill_in_user_cards(API2, donut1, donut2);
    }, 2000);

    var donut1;
    var donut2;
    $( document ).ready(function() {
        $('button[name=reset]').trigger('click');
        list_tasks(API1);

        donut1 = init_donut("customer-chart1", ['Fails', 'Success', 'Cancelled'], ["#FF5370", "#2ed8b6", "#FFB64D"]);
        //fill_in_tasks_card(API2, donut1);

        donut2 = init_donut("customer-chart2", ['Consumed', 'Remaining'], ["#000", "#EEE"], 0);
        //fill_in_quota_card(API2, donut2);

        fill_in_user_cards(API2, donut1, donut2);
    })


    </script>


{% endblock javascripts %}
