{% extends "layouts/base.html" %}

{% block title %} Simulations page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Simulations Page</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#">Simulations</a></li>
								<li class="breadcrumb-item"><a href="#">Launcher</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->

			<!-- [ Main Content ] start -->
			<div class="row">

				<!-- [ Create a new simulation-page ] start -->
				<div class="col-md-12">
					<div class="card g-3 col-md-6">

						<div class="card-header">
							<h5>Create a new simulation</h5>
						</div>
						<div class="card-body">

                            <form method="post" action="" id="launch_form">

								{{ form.hidden_tag() }}

								<div class="input-group mb-4">
									<span class="input-group-text"><i class="feather icon-type"></i></span>
									{{ form.label(placeholder="Simulation Label", class="form-control") }}
								</div>

                                  <div class="input-group mb-4">
                                    <span class="input-group-text"><i class="feather icon-life-buoy"></i>&ensp;Number of virtual floats</span>
                                    <span class="form-control" id="nfloats_value"></span>
									{{ form.nb_floats(class="form-range", min="100", max="4000", step="10") }}
                                  </div>

								<button type="submit" name="launch" class="btn btn-block btn-primary mt-2 mb-4">Launch !</button>
								<button type="reset" name="reset" class="btn btn-block btn-danger mt-2 mb-4">Reset</button>

							</form>

						</div>
					</div>
				</div>
				<!-- [ Create a new simulation-page ] end -->

				<!-- [ List of user simulations-page ] start -->
				<div class="col-md-12">
					<div class="card table-card">
						<div class="card-header">
							<h5>Your simulations</h5>
						</div>
						<div class="card-body">
                            <div class="table-responsive">
                                <div class="customer-scroll" style="height:562px;position:relative;">
                                    <table class="table table-hover m-b-0" id="tasks_table">
                                        <thead>
                                            <tr>
                                                <th><span>Tasks ID</span></th>
                                                <th><span>User</span></th>
                                                <th><span>Status</span></th>
                                                <th><span>Number of floats</span></th>
                                                <th><span>Label</span></th>
                                                <th><span>Actions</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ List of user simulations-page ] end -->

			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

    <script src="/static/assets/js/pages/simulations-launcher.js"></script>

    <script>
    var API = {{ url_for("api_blueprint.tasks_task_list") | tojson }};
    var APIKEY = {{ current_user.apikey | tojson }};

    $('button[name=reset]').on('click', function(){
      // Clean-up the form:
      $('input[name=label]').val("");
      $('input[name=nb_floats]').val();
      $('#nfloats_value').text($('input[name=nb_floats]').val());
      console.log("Form reset");
    } );

    get_a_cancel_btn = function(runid, disabled){
        var html = "<button type='button' class='btn btn-outline-danger btn-sm' ";
        html += " data-vf-action='cancel'";
        html += " data-vf-runid='"+runid+"'";
        html += disabled;
        html += ">Cancel</button>";
        return html
    }

    html_progress = function(value, vmin=0, vmax=100, color='secondary', txt){
        {#let html = "" + value;#}
        let width = Number(value) * 100 / (vmax-vmin);
        width = width.toFixed(0);
        {#console.log(width);#}
        let html = "";
        {#html += "<div class='progress mt-1' style='height:6px;'>";#}
        html += "<div class='progress mt-1'>";
        html += "<div class='progress-bar bg-" + color + " rounded' role='progressbar' style='width: "+width+"%;'";
        html += " aria-valuenow='"+value+"'";
        html += " aria-valuemin='"+vmin+"' ";
        html += "aria-valuemax='"+vmax+"'>";
        html += width + "%</div></div>";
        return html
    }

    list_tasks = function(api) {
        $.ajax({
          url:api,
          type:"GET",
          headers: { 'X-API-KEY': APIKEY },
          contentType:"application/json; charset=utf-8",
          dataType:"json",
          success: function(data){
            var html = '';
            for(var i = 0; i < data.length; i++){
                {#console.log(data[i]);#}
                var html_status = data[i].run.status + " ";
                var progress = Number(data[i].run.progress);
                var color;
                var cancel_disabled = "";

                if (data[i].run.status === 'queue') {
                    {#html_status += "<i class='feather icon-clock'></i>";#}
                    color = 'info';
                    cancel_disabled = "disabled";

                } else if (data[i].run.status === 'error'){
                    {#html_status += "<i class='feather icon-phone-missed'></i>";#}
                    color = 'danger';
                    cancel_disabled = "disabled";

                } else if (data[i].run.status === 'cancelled'){
                    {#html_status += "<i class='feather icon-phone-missed'></i>";#}
                    color = 'warning';
                    cancel_disabled = "disabled";

                } else if (data[i].run.status === 'running'){
                    {#html_status += "<i class='feather icon-phone-call'></i>";#}
                    color = 'primary';

                } else if (data[i].run.status === 'done'){
                    {#html_status += "<i class='feather icon-phone-off'></i>";#}
                    cancel_disabled = "disabled";
                    if (data[i].run.final_state === 'success') {
                        color = 'success';
                        html_status += "(success)";
                    } else if (data[i].run.final_state === 'failed') {
                        color = 'danger';
                        html_status += "(failed)";
                    }
                    progress = 100;

                } else {
                    {#html_status += "<i class='feather icon-alert-circle'></i>";#}
                    color = 'danger';
                }

                {#var html_status = data[i].status + " ";#}
                html_status += html_progress(progress, 0, 100, color, data[i].run.status);

                var html_cancel = get_a_cancel_btn(data[i].id, cancel_disabled);

                var html_actions = html_cancel;

                html += '<tr>'+
                            '<td>' + data[i].id + '</td>' +
                            '<td>' + data[i].user.username + '</td>' +
                            '<td>' + html_status + '</td>' +
                            '<td>' + data[i].params.nfloats + '</td>' +
                            '<td>' + data[i].params.label + '</td>' +
                            '<td>' + html_actions + '</td>' +
                        '</tr>';
                }
            $('#tasks_table tbody').html(html);

            $('button[data-vf-action=cancel]').on('click', function(){
                // Cancel a task:
                let runid = $(this).data('vf-runid');
                console.log("Cancelling " + runid);
                $.ajax({
                    url: api + "/" + runid,
                    type: "DELETE",
                    headers: {'X-API-KEY': APIKEY},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                    },
                    error: function (data) {
                        alert(data);
                    }
                })

            })
          }
        })
    };

    var RefreshTasksList = window.setInterval(function(){
        list_tasks(API);
        console.log('Refreshing tasks list...');
    }, 2000);

    $( document ).ready(function() {
        $('button[name=reset]').trigger('click');
        list_tasks(API);
    })


    </script>


{% endblock javascripts %}
