{% extends "layouts/base.html" %}

{% block title %} Users | Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    .progress {
      background-color: #aef;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">

			<!-- [ Main Content ] start -->
            <div class="row">

                <!-- [ List of ALL users ] start -->
				<div class="col-md-12">
					<div class="card table-card">
						<div class="card-header">
							<h5>List of users</h5>
						</div>
						<div class="card-body">
                            <div class="table-responsive">
                                <div class="customer-scroll">
                                    <table class="table table-hover m-b-0" id="users_table">
                                        <thead>
                                            <tr>
                                                <th><span>Users ID</span></th>
                                                <th><span>Creation Date</span></th>
{#                                                <th><span>Last Connection</span></th>#}
                                                <th><span>login</span></th>
                                                <th><span>Email</span></th>
                                                <th><span>Role</span></th>
                                                <th><span>Subscription Plan</span></th>
                                                <th><span>Tasks Quota</span></th>
                                                <th><span>Disk Usage</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ List of ALL users] end -->

            </div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/js/pages/users.js"></script>
    <script src="/static/assets/js/pages/plans.js"></script>

    <script>
    var APIKEY = {{ current_user.apikey | tojson }};
    API_USERS = {{ url_for("api_blueprint.users_user_list") | tojson }};
    API_USERS_UPDATE = {{ url_for("api_blueprint.users_user_2") | tojson }};
    API_PLANS = {{ url_for("api_blueprint.plans_plans") | tojson }};

    function humanFileSize(bytes, si=false, dp=1) {
        const thresh = si ? 1000 : 1024;

        if (Math.abs(bytes) < thresh) {
            return bytes + ' B';
        }

        const units = si
        ? ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
        : ['KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB'];
        let u = -1;
        const r = 10**dp;

        do {
            bytes /= thresh;
            ++u;
        } while (Math.round(Math.abs(bytes) * r) / r >= thresh && u < units.length - 1);

        return bytes.toFixed(dp) + ' ' + units[u];
    }


    get_html_quota_bar = function(data){
        let quota_count = Number(data.quota_count);
        let quota_left = Number(data.quota_left);
        let quota_total = quota_count + quota_left;
        let consumed = quota_count * 100 / quota_total;
        if (consumed <= 25){
            quota_color = 'success';
        } else if (consumed <= 50) {
            quota_color = 'info';
        } else if (consumed <= 75) {
            quota_color = 'warning';
        } else if (consumed <= 100) {
            quota_color = 'danger';
        }

        quota_html = quota_count + "/" + quota_total + " ("+consumed+"%)";
        quota_html += "<div class='progress mt-1' style='height:4px;'>";
        quota_html += "<div class='progress-bar bg-"+quota_color+" rounded' role='progressbar' ";
        quota_html += "style='width: "+consumed+"%;' aria-valuenow='"+consumed+"' ";
        quota_html += "aria-valuemin='0' aria-valuemax='100'>";
        quota_html += "</div></div>";

        return quota_html;
    }

    get_html_role = function(data){
        let color;
        if (data.level == 0) {
            color = ["secondary", "white"];
        } else if (data.level <= 50) {
            color = ["success", "white"];
        } else if (data.level <= 100) {
            color = ["info", "white"];
        } else {
            color = ["light", "dark"];
        }
        {#html = "<div class='p-1 m-1 bg-"+color[0]+" text-"+color[1]+"'>"+data.label+"</div>";#}
        html = "<div class='p-0 m-0'>"+data.label+"</div>";
        return html
    }

    function build_view(data, textStatus, jqXHR){
        var html = '';
        for(var i = 0; i < LIST_USERS.length; i++){
            let created = new Date(LIST_USERS[i].created);
            html += '<tr>'+
                        '<td>' + LIST_USERS[i].id + '</td>' +
                        '<td>' + created.toDateString() + '</td>' +
                        //'<td>' + '</td>' +
                        '<td>' + LIST_USERS[i].username + '</td>' +
                        '<td>' + LIST_USERS[i].email + '</td>' +
                        '<td>' + get_html_role(LIST_USERS[i].role) + '</td>' +
                        '<td class="UserPlan" data-user-id="'+LIST_USERS[i].id+'">' + get_html_plan_btn(LIST_USERS[i]) + '</td>' +
                        '<td>' + get_html_quota_bar(LIST_USERS[i].tasks) + '</td>' +
                        '<td>' + humanFileSize(LIST_USERS[i].disk_usage) + '</td>' +
                    '</tr>';
            }
        $('#users_table tbody').html(html);

        // Attach buttons callback:
        $(".UserPlan > div > button").each(function(){
            $(this).on('click', function(){
                let plan_name = $(this).text();
                let plan_id;
                for (let i = 0; i < LIST_OF_PLANS.length; i++) {
                    if (plan_name === LIST_OF_PLANS[i].label){
                        plan_id = LIST_OF_PLANS[i].id
                    }
                }
                let user_id = $(this).closest('.UserPlan').data('user-id');
                update_profile({'user_id': user_id, 'plan_id': plan_id}, list_users, build_view);
            })
        })
    };

    var RefreshUsersList = window.setInterval(function(){
        list_users().then(build_view);
    }, 10000);

    $( document ).ready(function() {
        load_plans().then(list_users).then(build_view);
    })
    </script>


{% endblock javascripts %}
